<!-- search button at the center -->
	
<form class="form-wrapper">
    <input type="text" id="search">
    <input type="submit" value="search" id="submit">
</form>





<div class="container">
	
	

	<div class="row col-md-12">
	</div>

	<div class="col-md-4 cards cright">
			
	</div>
		
	<div class="col-md-4 cards " style="margin:1 2% 1 2%">
			
	</div>
		
	<div class="col-md-4 cards cleft">
			
	</div>
	
	</div>
	

<!-- 
left card for trending word of the day
-->

<!-- middle card for about -->


<!-- right card for for how to use -->



