<h1>Listing meanings</h1>

<table>
  <thead>
    <tr>
      <th>Meaning number</th>
      <th>Part of speech</th>
      <th>Definition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meanings.each do |meaning| %>
      <tr>
        <td><%= meaning.meaning_number %></td>
        <td><%= meaning.part_of_speech %></td>
        <td><%= meaning.definition %></td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


